body {
    background-image: url(images/roses.jpg);
    background-size: cover;
}
.container {
    background-color: rgb(131, 128, 128, 50%);
    margin: 20px 10vw;
    padding: 0 35px;
    border-radius: 10px;

}
