body {
    background-image: url(images/cup.jpg);
    /* background-image: url(images/fire.jpg); */
    /* background-size: cover; */
    background-size: contain;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}
div {
    margin: 0;
    padding: 0;
}
.container {
    background-color: rgba(0, 0, 0, 40%);
    margin: 20px 10vw;
    padding: 0px 30px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16pt;
    color: white;

}
h1 {
    font-family: "Marhey", sans-serif;
}
h2 {
    font-family: "Ruwudu", serif;
    font-weight: 700;
    font-style: normal;
}
h2 {
    background-color: rgb(0, 0, 0, 50%);
    border-radius: 10px;
    text-align: center;
    padding: 15px 5px 5px;
}
ul {
    font-family: "Amiri", serif;
    font-weight: 700;
    font-style: normal;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: yellow;
}
.tg-ch-links {
    background-color: rgb(128, 0, 128, 50%);
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
}
.tg-grp-links {
    background-color: rgb(128, 0, 128, 50%);
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
}
.fb-links{
    background-color: rgb(128, 0, 128, 50%);
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
}
.github {
    background-color: rgb(128, 0, 128, 50%);
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
}
.contact-us {
    background-color: rgb(128, 0, 128, 50%);
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
}